* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 228);
  width: 100%;
  height: 110vh;
  margin-top: 0.5rem;
}
div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 109vh;
  background-color: rgb(249, 249, 249);
  section {
    height: 105vh;
  }
  hr {
    border: none;
    height: 2px;
    background-color: #000; /* Svart färg */
    width: 50%; /* Halvbredd av sidan */
    margin: 20px auto; /* Centrera linjen */
  }
  ol {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    width: 77%;
    margin-bottom: 0.5rem;
    li {
      padding-right: 2em;
      line-height: 1.5em;
    }
  }
  button {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 3px;
  }
  button:hover {
    background-color: rgb(173, 240, 191);
  }
  input {
    padding: 5px 1rem;
  }
}
